# Default owners for the entire repository
* @hcolmanccc
* @sagemath-linearalgebra-spring-2026

# Owners for a specific branches
# Pull requests to the 'main' branch will request review from
main @sagemath-linearalgebra-spring-2026
